*.xcbkptlist
*.xcuserstate
iOSArchitecturesDemo.xcodeproj/xcuserdata/igor_chernyshov.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/igor_chernyshov.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
